
body {
  font-family: 'Roboto Condensed', 'Arial Narrow';
  background-color: whitesmoke;
}

.top-header {
  width: 100%;
  background-image: url("/images/mountain3.png");
  background-size: cover;
  background-position: center;
  height: 150px;
}


.top-header + div.header {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}


.top-header div.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  height: 150px;
}

.top-header img.logo {
  width: 80px;
  cursor:  pointer;
  padding: 2em;
}

.top-header nav {
  flex: 1;
  text-align: right;
}


.top-header nav ul li {
  list-style: none;
  display: inline-block;
  padding: 40px;
  font-size: 20px;
}

.top-header nav ul li a {
  color: whitesmoke;
}
.top-header nav ul li a:link {
  text-decoration: none;
}
.top-header nav ul li a:visited {
  text-decoration: none;
}
.top-header nav ul li a:hover {
  text-decoration:underline;
}

/* Middle Content */
.left {
  display: flex;
  justify-content: space-between;
  align: center;
  margin: 150px 0;
}
.col-1 {
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}
.col-1 h2 {
  font-size: 50px;
  margin: auto;
}
.col-1 h3 {
  font-size: 25px;
  margin: 10px 0;
}
.col-1 p {
  font-size: 15px;
  margin: 20px 0;
}

  .button-1 {
    background-color: transparent;
    border: 1px solid rgb(14, 10, 80);
    box-sizing: border-box;
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 10px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 60%;
  }

  .button-1:hover, .button-1:active {
    outline: 0;
  }

  .button-1:hover {
    background-color: transparent;
    cursor: pointer;
  }

  .button-1:before {
    background-color: rgb(162, 197, 251);
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
  }

  .button-1:hover:before {
    background-color: rgb(127, 161, 239);
  }

  @media (min-width: 768px) {
    .button-1 {
      padding: 16px 32px;
    }
  }

.col-2 {
  position: relative;
  display: flex;
  align-items: center;
  right: 0;
  margin-right: 50px;
}

.col-2 .girl {
  width: 60%;
  transform: translate(184px, 5px);
}

.box {
  position: absolute;
  right: 0;
  top: 0;
  border: 6px solid rgb(162, 197, 251);
  height: 100%;
  width: 60%;
}
